name: Build Services

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    defaults:
      run:
        working-directory: ./services/${{ matrix.service }}/src
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: ['about']
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.17

    - name: Build
      run: go build -v
      
    - name: Test
      run: go test -v
