name: Service Docker Images

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    defaults:
      run:
        working-directory: ./services/${{ matrix.service }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service: ['about']

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --tag ${{ matrix.service }}:$(date +%s)
